@charset "UTF-8";
/*стили к форме сохранения закладки*/
* {
  padding: 0;
  margin: 0;
  outline: none; }

li {
  list-style-type: none; }

#bkSaveForm {
  position: relative;
  border: 1px solid #ccc;
  background-color: #F1F1F1;
  height: 200px;
  width: 100%;
  font-family: Arial, sans-serif;
  padding: 5px;
  -webkit-box-shadow: 0 0 3px #4888EF;
          box-shadow: 0 0 3px #4888EF;
  overflow: hidden; }

#desc {
  display: inline-block; }

#answer {
  border: 1px solid #D4D4D4;
  position: absolute;
  left: 0;
  bottom: 0;
  min-width: 100px;
  min-height: 20px; }

#close:hover {
  width: 12px;
  height: 12px; }

#fileName {
  border: 1px solid #D4D4D4;
  margin: 5px 5px;
  padding: 0 10px;
  float: left;
  height: 20px;
  width: 300px;
  overflow: auto;
  position: relative;
  font-size: 12px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-color: #fff; }

#fileName p {
  color: #828282;
  text-align: center;
  line-height: 20px; }

#album_cover {
  display: none; }

#fileUpload {
  position: relative;
  margin: 5px;
  overflow: hidden;
  width: 50px;
  height: 20px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  color: #fff;
  text-align: center; }

#fileUpload label {
  background: #4888EF;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  line-height: 20px;
  font-size: 12px; }

#fileUpload label:hover {
  background: #1E90FF; }

#album_name {
  border: 1px solid #D4D4D4;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  height: 20px;
  width: 220px;
  overflow: hidden;
  margin: 10px 0 5px 0;
  padding: 0 5px 0 5px; }

#album_desc {
  border: 1px solid #D4D4D4;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  height: auto;
  width: 500px;
  overflow: auto;
  margin: 10px 0 5px 0;
  padding: 0 5px 0 5px; }

#preview {
  border: 1px solid #ccc;
  width: 30%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  right: 5px;
  color: #535353;
  font-size: 15px;
  -webkit-background-size: 100% 100%;
          background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden; }

#save {
  border: none;
  background-color: #4888EF;
  z-index: 2;
  position: absolute;
  bottom: 5px;
  right: 5px;
  cursor: pointer;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  padding: 0 4px;
  height: 20px;
  color: #fff; }
