html {
  min-height: 100%; }

body {
  background: -webkit-gradient(linear, left top, right top, from(#fff), to(#9A989A));
  background: -webkit-linear-gradient(left, #fff, #9A989A);
  background: -o-linear-gradient(left, #fff, #9A989A);
  background: linear-gradient(90deg, #fff, #9A989A);
  text-align: center; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.form {
  margin-top: 250px;
  -webkit-box-shadow: 0px 1px 3px 1px #907765;
          box-shadow: 0px 1px 3px 1px #907765;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  background: -webkit-gradient(linear, left top, right top, from(#E88321), to(#FEE5B3));
  background: -webkit-linear-gradient(left, #E88321, #FEE5B3);
  background: -o-linear-gradient(left, #E88321, #FEE5B3);
  background: linear-gradient(-270deg, #E88321, #FEE5B3);
  display: inline-block;
  width: 300px;
  height: 200px;
  text-align: center; }

form {
  width: 80%;
  display: inline-block;
  margin-top: 10px; }
  form label {
    display: inline-block;
    width: 100%;
    color: #fff;
    font-size: 12px;
    text-align: left;
    padding: 12px 0 5px 0; }
  form input {
    -webkit-box-shadow: 0px 0px 5px 0px #E88321;
            box-shadow: 0px 0px 5px 0px #E88321;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    padding: 0 10px;
    border: 0;
    width: 100%;
    height: 25px; }
  form input:focus {
    border-bottom: 1px solid #E88321;
    outline: 0; }
  form input:last-child {
    -webkit-box-shadow: 0px 0px 1px 0px #323232;
            box-shadow: 0px 0px 1px 0px #323232;
    background: -webkit-gradient(linear, left bottom, left top, from(#F3030B), to(#960500));
    background: -webkit-linear-gradient(bottom, #F3030B, #960500);
    background: -o-linear-gradient(bottom, #F3030B, #960500);
    background: linear-gradient(0deg, #F3030B, #960500);
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    margin-top: 17px;
    width: auto;
    float: right;
    cursor: pointer;
    -webkit-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms; }
  form input::-webkit-input-placeholder {
    color: #D1D1D1;
    font-size: 12px; }
  form input::-moz-placeholder {
    color: #D1D1D1;
    font-size: 12px; }
  form input:-ms-input-placeholder {
    color: #D1D1D1;
    font-size: 12px; }
  form input::placeholder {
    color: #D1D1D1;
    font-size: 12px; }
  form #submit:hover {
    -webkit-box-shadow: 0px 0px 3px 0px #AA0502;
            box-shadow: 0px 0px 3px 0px #AA0502; }
