@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  outline: none; }

li {
  list-style-type: none; }

.loader2 {
  background-image: url(../img/loader.gif);
  -webkit-background-size: cover;
          background-size: cover;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: absolute;
  bottom: 5px;
  display: inline-block;
  background-color: #fff;
  height: 30px;
  width: 30px;
  display: none; }

.loader2::after {
  content: "Загрузка, подождите!!!";
  position: absolute;
  left: 150%;
  font-size: 12px;
  color: #3D3D49; }

#save_form {
  position: relative;
  border: 1px solid #F6A419;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 -1px 8px 0px #555555;
          box-shadow: 0 -1px 8px 0px #555555;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  background-color: #F1F1F1;
  width: 98%;
  font-family: Arial, sans-serif;
  padding: 7px;
  overflow: hidden;
  text-align: left; }

#desc {
  width: 300px;
  display: inline-block;
  position: relative;
  margin: 0 50px 0 0; }

#fileName {
  border: 1px solid #F6A419;
  padding: 0 10px;
  float: left;
  height: 20px;
  width: 100%;
  overflow: auto;
  position: relative;
  font-size: 12px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-color: #fff; }

#fileName p {
  color: #828282;
  text-align: center;
  line-height: 20px; }

.none {
  display: none; }

.button {
  position: relative;
  background: #E98018;
  overflow: hidden;
  float: right;
  margin: 4px 0 0 0;
  width: auto;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  color: #fff;
  text-align: center;
  cursor: pointer; }

.button label {
  display: block;
  padding: 0px 5px;
  width: 100%;
  height: 100%;
  line-height: 20px;
  font-size: 12px; }

#fileUpload label:hover {
  background: #F6A419; }

#album_name {
  height: 20px; }

.portfolio_input {
  border: 1px solid #F6A419;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  width: 100%;
  overflow: hidden;
  padding: 0 5px 0 5px;
  margin: 10px 0 0 0; }

.save {
  background: #DE5217;
  width: auto;
  margin: 20px 0 0 0;
  padding: 4px 5px;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms; }

.save:hover {
  background: #FF5F1A; }

#preview {
  border: 1px solid #F6A419;
  background-color: #fff;
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 300px;
  height: 200px;
  margin: 0 0 -45px 0;
  position: relative; }

#preview::after {
  position: absolute;
  content: "Чем более большое пространстово прямоугольника занимает фото, тем меньшая часть этого фото будет отрезана при выравнивании";
  color: #757575;
  font-size: 12px;
  left: 10px;
  top: 30px; }
