.content{
	text-align: center;
}
.contacts{
	text-transform: uppercase;
	font-weight: bold;
	color: #5F5F5F;
	text-align: center;
	display: inline-block;
	width: 25%;
	margin: 10px;
	input{
		width: 100%;
		padding: 4px;
		margin: 5px 0;
		// margin: 5px;
		// margin-left: 0;
		border: 2px solid #4888EF;
		border-radius: 4px;
	}
	
}
.contacts:nth-child(n+10){
		color: red;
}
.but{
	border-radius: 8px;
	padding: 4px;
	color: #fff;
	text-transform: uppercase;
	background-color: #4888EF;
	text-align: center;
	cursor: pointer;
	margin-bottom: 20px;
}