// по умолчанию всем//xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx//
.gallery-box {
	width: 49%;
}
// @media (min-width:  500px) { .gallery-box { width: 50%; } }
// @media (min-width:  768px) { .gallery-box { width: 33.33333333%; } }
// @media (min-width:  992px) { .gallery-box { width: 25%; } }
// @media (min-width: 1200px) { .gallery-box { width: 16.66666667%; } }
//xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx//

#gall_box11 .heigth, #gall_box12 .heigth, #gall_box21 .heigth, #gall_box22 .heigth{
	padding-top: 66.666%;
}