
.rubric_box{
	background-color: #fff;
	width: 32.3333%;
	min-height: 300px;
	margin:0.5%;
	position: relative;
	float: left;
	a{
		position: absolute;
		display: inline-block;
		width: 100%;
		height: 100%;
		z-index: 10;
	}
}
.designation{
	text-align: center;
	height: 120px;
	margin-top: 10px;
	margin-bottom: 10px;
	h3{
		letter-spacing: 1px;
		font-weight: normal;
		font-size: 15px;
	}

	p{
		margin-top: 5px;
		letter-spacing: 1px;
		color: #808080;
		font-size: 14px;
	}
}
.adapt_box {
	background-color: #fff;
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
	width: 100%;
}
.adapt_box .heigth {
    height: 0;
    padding-top: 66.6666%;
}
.image_box {
	background-position: center;
	background-repeat: no-repeat;
    position: absolute; 
    top: 0; left: 0;
    width: 100%; 
    height: 100%;
    background-size: cover;
 }
 @media (max-width: 768px) {
	.rubric_box{
		width: 49%;
	}
 }
  @media (max-width: 500px) {
	.rubric_box{
		width:99%;
	}
 }